.tm-sidebar-left
{
    width: 240px !important;
    position: fixed;
    top: 80px;
    bottom: 0;
    padding: 40px;
    border-right: 1px #e5e5e5 solid;
    overflow: auto;
}

.tm-nav .uk-nav-header
{
    padding: 8px 0;
    border-bottom: 1px #e5e5e5 solid;
}

#содержимое
{
    width: calc(100% - 320px);
    height: calc(100% - 80px);
    position: fixed;
    top: 80px;
    left: 320px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.ошибка
{
    margin: 1em;
}

.отступ
{
    margin: 1em;
}
